# Created by .ignore support plugin (hsz.mobi)
config
resources/views
src
tests
.scrutinizer.yml
.travis.yml
build.xml
composer.json
phpunit.xml
run
.tscache
.sass-cache
.mversionrc
bower.json
.bowerrc
.editorconfig
